name: 'FoodScript'
scopeName: 'source.foodscript'
type: 'tree-sitter'
parser: 'tree-sitter-foodscript'

fileTypes: [
  'fs'
]

comments:
  'start': '# '

scopes:
  'if_statement': 'keyword.control'

  # 'program': 'source.foodscript'

  # '"else if"': 'keyword.control'
  # '"else"': 'keyword.control'
  # '"complete"': 'keyword.control'
  # '"for"': 'keyword.control'
  # '"in"': 'keyword.control'
  #
  # 'comment': 'comment'
  # 'string': 'string.quoted'
  #
  # 'type': 'entity.name.type.class'
  #
  # 'command > variable, command > built_in_object': 'entity.name.function'
  #
  # 'assignment > variable': 'variable'
